* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    margin: 15px;
    background-color: #F7E2E2;
}

.header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #61A4BC; 
    color: #1A132F;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Menu bar in top right corner of header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #1A132F;
    text-decoration: none;
}
/* Hero element */

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./assets/images/hands.jpg);
    background-size: cover;
    background-position: center;
}

/* content in body centered to screen size */
.sections {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.section-headers {
    position: relative;
    justify-content: flex-end;
    display: block;

    margin: 15px;
    border: 4px;
    text-align: left;
    background-color: #F7E2E2;
}

.about-me h2 {
    font-size: 36px;
    display: block;
    margin: 20px;
    border-right: 5px solid #1A132F;
    padding: 20px;
    position: relative;
}

.work h2 {
    font-size: 36px;
    display: block;
    margin: 20px;
    border-right: 5px solid #1A132F;
    padding: 20px;
    position: relative;
}

.contact-me h2 {
    font-size: 36px;
    display: block;
    margin: 20px;
    border-right: 5px solid #1A132F;
    padding: 20px;
    position: relative;
}

.content {
    position: relative;
    justify-content: space-between;
    display: block;
    margin: 15px;
    border: 4px;
    text-align: left;
    background-color: #F7E2E2;
}

.about-me-bio {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;
    margin: 20px;
    padding: 20px;
}

.work-links {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;
    margin: 20px;
    padding: 20px;
}

.contact-me-links {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;
    margin: 20px;
    padding: 20px;
}

.contact-me-links ul {
    list-style-type: none;
}

.contact-me-links ul li {
    display: inline-block;
    padding:10px;
}