* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7E2E2;
}

.header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #61A4BC; 
    color: #1A132F;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Menu bar in top right corner of header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Hero element */

/* content in body centered to screen size */
.content {
    width: 80%;
    display: inline-block;
    margin-left: auto;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: space-between;
}

.about-me h2 {
    font-size: 36px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 20px;
    border-right: 5px solid #1A132F;
    padding: 20px;
}

.about-me-bio {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;
    margin: 20px;
    padding: 20px;
}
